.App {
    /*background-image: url("https://regnum.ru/uploads/pictures/news/2017/05/26/regnum_picture_1495804324951312_normal.jpeg");*/
    color: aliceblue;
    background-color: #17212B;
}

body {
    background-color: #17212B;
}

