.someClass {
    margin-left: 100px;
    color: #ffffff;
    width: 225px;
    background-color: #2B5278;
    border: white 1px solid;
    padding: 10px;
    font-weight: bold;
}

.someClass button {
    background-color: #2B5278;
    font-weight: bold;
}

.priorityButton {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.filterStyle {
    color: #BEF4C1;
    font-weight: bold;
    border-radius: 50%;
}

.affairs {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 230px;
}

.affairs button:hover {
    background-color: red;
}

.affairs button {
    border-radius: 50%;
}

.low {
    color: green;
}

.high {
    color: red;
}

.middle {
    color: orange;
}