.blue {
    border-bottom: 4px solid #12e7e7;
    border-right: 2px solid #12e7e7;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testSpanError {
    /*color: blue;*/
    font-weight: bold;
}