.active {
    color: #FFA500 !important;
}

.nav {
    margin-top: 40px;
    padding: 24px;
    text-align: center;
    box-shadow: 1px 1px 38px #E92539;
    /*transition-duration: 500ms;*/
    /*transform: translate(-1000px);*/
}

/*.nav:hover {*/
/*    transition-duration: 500ms;*/
/*    transform: translate(0);*/
/*}*/

.nav a {
    transition: 0.3s ease;
    background: #17212B;
    color: #6A8A76;
    font-size: 20px;
    text-decoration: none;
    border-top: 2px solid #2B5278;
    border-bottom: 2px solid #2B5278;
    padding: 10px 0;
    margin: 0 20px;
    font-weight: bold;
}

.nav a:hover {
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    padding: 6px 0;
}

