.someClass {

}

.wrapper {
    margin-left: 100px;
}

.wrapper button {
    margin-left: 20px;
    background-color: #5AAFDD;
    border-radius: 30%;
    font-weight: bold;
    cursor: pointer;
    height: 30px;
}

.wrapper button:disabled {
    cursor: not-allowed;
}

.wrapper input {
    background: #2B5278;
    outline: none;
    opacity: 0.6;
    width: 250px;
    height: 25px;
    color: #99ff99;
    font-size: large;
    margin: 15px 0;
    border-radius: 10px;
}

.wrapper input:focus {
    outline: none;
    opacity: 1;
}

.totalUsers {
    color: #E92539;
    font-weight: bold;
    margin-left: 15px;
}

.error {
    border: 3px solid #E92539;
}

.titleError {
    color: #E92539;
    font-weight: bold;
}